# Data handling & visualization
kagglehub==0.3.5
pandas==2.2.3
seaborn
matplotlib

# Environment & configuration
python-dotenv==1.0.1

# LangChain ecosystem
langchain==0.3.7
langchain-community==0.3.7
langchain-openai==0.3.0
langchain-chroma==0.1.4

# NLP & Transformers
transformers==4.47.1

# Web UI / Demos
gradio==5.9.1

# Jupyter ecosystem
notebook
ipywidgets==8.1.5
